html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
html {
  --header-height: 4rem;
  --header-height-extra: calc(var(--header-height) + 1.5rem);
  scroll-padding-top: var(--header-height-extra);
  background-color: rgb(30, 30, 30);
  color: #ffffff;
}
header {
  position: sticky;
  top: 0;
  background-color: rgb(40, 40, 40);
  height: var(--header-height);
  overflow: auto;
  box-sizing: content-box;
  padding: 0.5rem;
  color: #fff;
  
}
header img {
  display: block;
  max-height: var(--header-height);
}
section {
  max-width: 65ch;
}
body {
  margin-top: 0;
}
header {
  display: flex;
  gap: 1rem;
  align-items: center;
 
}
header h2 {
  margin: 0;
  color: #fff;

}
nav > ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
  display: flex;
  gap: 1rem;

}
.name {
  text-decoration: none;
  color:black;
}
.content-container {

margin: auto;
padding: 1rem; 
display: flex;
flex-direction: column;
align-items: center; 
min-height: 100vh;

}
nav a {
  color: #fff;
  text-decoration: none;
  
}

nav a:hover {
  color: #ffd700;
  font-weight: bold;
  border-radius: 4px;
}


.skills a img {
width: 100px; 
height: auto; 
margin: 5px; 

}

.skills a img:hover {
opacity: 0.5; 
}


.media a {
color:#4285F4; 
text-decoration: none; 
font-weight: bold;

}

.media a:hover {
color: #ffd700; 
text-decoration: underline;
}

section h2 {
  color:gold;
}

@media screen and (max-width: 768px) {
  header {
    flex-wrap: wrap;
    justify-content: center;
  }


  header img,
  header h2,
  nav > ul {
    width: 100%; 
    text-align: center; 
    margin: 0.25rem 0; 
  }
}

